@import "~@assets/scss/global";

.btn {
	@include input;
}

.btn-group {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	color: var(--light-text-color);
}

.btn-group .btn:hover {
	background-color: var(--primary-color);
	color: #ffffff;
}

.btn-group>.radio:not(:last-child) .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group>.radio:not(:first-child) .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn.btn_checked {
	color: #000;
	box-shadow: 0 0 0 1px rgba(21,126,225,.5);
	background-color: #eef4fa;
}

.radio {
	cursor: pointer;
}
